{
    "extends": ["react-app"],
    "rules": {
        
    },
    "overrides": [
    {
        "files": ["**/*.ts?(x)"],
        "rules": {
        "additional-typescript-only-rule": "warn"
        }
    }
    ]
}